version: '3.5'

networks:
  yp_network:
    name: yp_network
    external: true

services:
  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka-node1
    hostname: kafka-node1
    env_file:
      - ../../kafka/.env

    depends_on:
      - zookeeper

  zookeeper:
    image: zookeeper:3.5
    container_name: kafka-zookeeper
    hostname: kafka-zookeeper
